<div class="card text-left bg-light">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Actividades para el hogar</h4>
    <button style="width: 100%;"class="btn btn-primary btn-block mt-5" (click)="ruleta()"> 
        Ruleta
    </button>
    <button style="width: 100%;"class="btn btn-primary btn-block mt-5" (click)="noticias()"> 
        Noticias
    </button>
    <button style="width: 100%;"class="btn btn-primary btn-block mt-5" (click)="ejercicios()"> 
        Ejercicios
    </button>
    <button style="width: 100%;"class="btn btn-primary btn-block mt-5" (click)="tripadvisor()"> 
        Eventos en la ciudad
    </button>
    <button style="width: 100%;"class="btn btn-primary btn-block mt-5" (click)="peliculas()"> 
        Peliculas y series
    </button>
    <button style="width: 100%;"class="btn btn-primary btn-block mt-5" (click)="libros()"> 
        Libros
    </button>
    <button style="width: 100%;"class="btn btn-primary btn-block mt-5" (click)="imagenes()"> 
        Imagenes
    </button>
  </div>
</div>