<div class="card text-left bg-light">
  <img class="card-img-top" src="holder.js/100px180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Actividades para tu viaje</h4>
    <button style="width: 100%;"class="btn btn-warning btn-block mt-5" (click)="calculadora()"> 
        Cambio de divisa
    </button>
    <button style="width: 100%;"class="btn btn-warning btn-block mt-5" (click)="opiniones()"> 
        Opiniones
    </button>
    <button style="width: 100%;"class="btn btn-warning btn-block mt-5" (click)="itinerario()"> 
        Itinerario
    </button>
    <button style="width: 100%;"class="btn btn-warning btn-block mt-5" (click)="checklist()"> 
        checklist
    </button>
    <button style="width: 100%;"class="btn btn-warning btn-block mt-5" (click)="clima()"> 
      clima
   </button>
   <button style="width: 100%;"class="btn btn-warning btn-block mt-5" (click)="vuelos()"> 
    vuelos
  </button>
  

  </div>
</div>